body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #333;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Navbar */

nav{
  background: #FBF5F3;
  height: 75px;
  position: fixed;
  width: 100%;
  max-width: 2500px;
  box-shadow: 1px 1rem 2rem 4px rgba(0,0,0,.1);
  z-index: 20;
  top: 0;
  padding: 0px 25px;
}

/* Main */

#no-dec {
  text-decoration: none;
}

main {
  margin-top: 100px;
  margin-left: 10px;
  margin-right: 10px;
}

.full{
  display: flex;
}

#notice {
  background: #6C63FF;
  flex: 1 1;
  margin: 20px;
  min-width: 80px;
  height: 130px;
  border-radius: 7px;
  box-shadow: 1px 1rem 2rem 4px rgba(0,0,0,.2);
  display: flex;
  color: #FBF5F3;
}

#notice-msg h1 {
  margin: 15px 0px 5px 0px;
}

#notice-msg p{
  margin-top: 6px;
}

div#notice-img {
  flex: 1;
  text-align: center;
}

#notice-img img {
  height: 145px;
  position: relative;
  top: -15px;
}

div#notice-msg {
  flex: 1;
  padding: 0px 10%;
}

#notice-msg > p > a {
  color: #FBF5F3;
}

@media only screen and (max-width: 1024px){
  #notice-msg p{
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 768px){
  #notice-msg p {
    font-size: 0.6rem;
  }
  #notice-img img {
    width: 150px;
  }
  #notice {
    overflow: hidden;
    height: 110px;
  }
  div#notice-msg {
    flex: 2;
  }
}

@media only screen and (max-width: 500px){
  #notice {
    height: 140px;
  }
  div#notice-img {
    flex: none;
    text-align: center;
    display: none;
  }
  #notice-msg p {
    font-size: 0.75rem;
  }
}

#stats{
  display: flex;
  flex-wrap: wrap;
}

.statsTile {
  flex: 1 1;
  margin: 20px;
  text-align: center;
  background: #FBF5F3;
  min-width: 80px;
  min-height: 150px;
  border-radius: 7px;
  box-shadow: 1px 1rem 2rem 4px rgba(0,0,0,.1);
  padding: 25px 10px 10px 10px;
}

.CircularProgressbar .CircularProgressbar-path{
  stroke: #6C63FF !important;
}

.CircularProgressbar .CircularProgressbar-text{
  fill: #333 !important;
}

.CircularProgressbar {
  width: 100%;
  vertical-align: middle;
  height: 100px;
}